@font-face {
  font-family: "iconfont"; /* Project id 2967848 */
  src: url('iconfont.woff2?t=1638018413588') format('woff2'),
       url('iconfont.woff?t=1638018413588') format('woff'),
       url('iconfont.ttf?t=1638018413588') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaoxi1:before {
  content: "\e602";
}

.icon-jiantou-yuan-you:before {
  content: "\e615";
}

.icon-gouwuche:before {
  content: "\e607";
}

.icon-jiantou-you:before {
  content: "\e627";
}

.icon-xiangyouyuanjiantouyoujiantouxiangyoumianxing:before {
  content: "\e600";
}

.icon-sousuo:before {
  content: "\e61e";
}

.icon-bofang-baix:before {
  content: "\e636";
}

.icon-liwuhuodong:before {
  content: "\e601";
}

.icon-dingwei:before {
  content: "\e60e";
}

.icon-gongju:before {
  content: "\e614";
}

.icon-tian:before {
  content: "\e613";
}

.icon-tian1:before {
  content: "\e604";
}

